doctype html
html
  head
    title Fabelio
  body
    h2 The product you searched, Sofa 2 dudukan Vienna is sold out. Here is a similar product! 
    h1=obj.product_name
    p Price : #{obj.price}
    p Dimension: #{obj.dimension}
    p Colours: #{obj.colours}
    img(src=obj.image)
