doctype html
html
  head
    link(rel="stylehseet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    title Fabelio
  body
    h1=obj.product_name
    p Price : #{obj.price}
    p Dimension: #{obj.dimension}
    p Colours: #{obj.colours}
    img(src=obj.image)